
@media only screen and (min-width: 882px) and (max-width: 1023px){
    html {
        font-size: 9px;
    }
    .I {
    display: none;
    }
    .make    {
        width: 100%;
        flex-direction: column;
        /* text-align: center; */
        justify-content: flex-start;
        align-items: flex-start;
    }
    .mark {
        margin-left: 5%;
        font-size: 8rem;
    }
    .kaypee{
        margin-left: 5%;
        font-size: 15rem;
    }
    .circle {
        background-color: black;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 400px;
        width: 400px;
        border-radius: 50%;
        z-index: 123898989898989898989  ;
    }
    .sztrzaleczka {
        opacity: 1;
        font-size: 15rem;
        color: black;
        position: absolute;
        z-index: 1248914237890134789012345078134780134780;
        top: 90%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
.con2_container1 {
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* background-color: red; */
}
.con2_container2 {
    height: 100%;
    width: 10%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: space;
    justify-content: space-around;
}
.con2_container3 {
    width: 50%;
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    align-items: space;
    justify-content: space-around;
}
.lang {
    /* background-color: blue; */
    border: 2px solid white;
    background-color: black;
    z-index: 12;
    border-radius: 2rem;
    width: 100%;
    height: 13%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.lang p {
    font-size: 2rem;
    max-width: 80%;
}


section {
    height: 100vh;
    background-color:rgb(0, 0, 0);
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    flex-direction: column;
    z-index: 12123;
    /* margin-top: 10vh; */
    /* background-color: blue; */
}

.section_divs_container {
    margin: 0 auto;
    padding-top: 10vh;
    /* background-color: blue; */
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.choice1, .choice2 , .choice3 {
    width: 80%;
    height: 30%;
    /* border: 5px solid rgb(105, 103, 103); */
    /* background-color: #363636; */
    background: linear-gradient(to left top, rgb(57, 57, 57), rgb(22, 22, 23));
    /* color: rgb(200, 199, 199); */
    color: rgb(212, 210, 210);
    border-radius: 2rem 5rem 2rem 2rem ;
    /* cursor: pointer; */
    transition: .2s linear;
}
.choice2,.choice3 {
    /* margin-top: 5vh; */
}









li {
    list-style-type: none;
    /* margin-top: 4rem; */
    font-size: 3rem;
}






.line_section {
    /* margin-top: 2rem; */
background-color: white;
height: 2rem;
width: 90%;
margin: 1rem auto;
border-radius: 2rem;
}
.line {

    width: 2rem;

}
.miniline_width {
    width: 120%;
    }







.instruction {
    padding-top: 10vh;
    width: 100%;
    height: 80vh;
    /* margin-top: 10%; */
    /* background-color: rgb(255, 0, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ins1 , .ins2 {
    width: 100%;
    height: 50%;
    /* border: 2px solid blue; */
}
.ins1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
}
.ins1 p {
    color: white;
    max-width: 80%;
    margin: 3rem 10%;
    font-size: 2.5rem;
}
.ins1 h2 {
    font-size: 2rem;
    margin-left: 10%;
    margin-top: 1rem;
    color: white;
    /* text-align: center; */
}
.ins2 {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: orange; */
}
form {
    /* background-color: BLUE; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
input {
    width: 70%;
    height: 12%;    
    font-size: 2rem;
    border-radius: 8rem;
    padding: 1rem;
}
textarea {
    width: 70%;
    height: 40%;    
    font-size: 2rem;
    border-radius: 2rem;
    padding: 1rem;
    overflow: hidden;
}
button {
    width: 30%;
    font-size: 2rem;
    height: 12%;
    border-radius: 25rem;
    cursor: pointer;
}

}

@media only screen and (min-width: 768px) and (max-width: 881px){
    html {
        font-size: 8px;
    }
    .I {
        display: none;
        }
        .make    {
            width: 100%;
            flex-direction: column;
            /* text-align: center; */
            justify-content: flex-start;
            align-items: flex-start;
        }
        .mark {
            margin-left: 5%;
            font-size: 8rem;
        }
        .kaypee{
            margin-left: 5%;
            font-size: 17rem;
        }
    .circle {
        background-color: black;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 400px;
        width: 400px;
        border-radius: 50%;
        z-index: 123898989898989898989  ;
    }
    .sztrzaleczka {
        opacity: 1;
        font-size: 20rem;
        color: black;
        position: absolute;
        z-index: 1248914237890134789012345078134780134780;
        top: 90%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    main {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: flex-start; */
        /* flex-wrap: wrap; */
        height: 150vh;
        width: 100%;
        /* overflow: hidden; */
    }
    .conColumns2 {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 70%;
        /* border: 2px solid red;   */
        /* background-color: green; */
        padding-top: 10%;
    }
.con2_container1 {
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* background-color: red; */
}
.con2_container2 {
    height: 100%;
    width: 10%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: space;
    justify-content: space-around;
}
.con2_container3 {
    width: 50%;
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    align-items: space;
    justify-content: space-around;
}
.lang {
    /* background-color: blue; */
    border: 2px solid white;
    background-color: black;
    z-index: 12;
    border-radius: 2rem;
    width: 100%;
    height: 13%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.lang p {
    font-size: 2rem;
    max-width: 80%;
}

section {
    height: 100vh;
    background-color:rgb(0, 0, 0);
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    flex-direction: column;
    z-index: 12123;
    /* margin-top: 10vh; */
    /* background-color: blue; */
}

.section_divs_container {
    margin: 0 auto;
    padding-top: 10vh;
    /* background-color: blue; */
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.choice1, .choice2 , .choice3 {
    width: 80%;
    height: 30%;
    /* border: 5px solid rgb(105, 103, 103); */
    /* background-color: #363636; */
    background: linear-gradient(to left top, rgb(57, 57, 57), rgb(22, 22, 23));
    /* color: rgb(200, 199, 199); */
    color: rgb(212, 210, 210);
    border-radius: 2rem 5rem 2rem 2rem ;
    /* cursor: pointer; */
    transition: .2s linear;
}
.choice2,.choice3 {
    /* margin-top: 5vh; */
}
li {
    list-style-type: none;
    /* margin-top: 4rem; */
    font-size: 3rem;
}





.line_section {
    /* margin-top: 2rem; */
background-color: white;
height: 2rem;
width: 90%;
margin: -1rem auto;
border-radius: 2rem;
}
.line {

    width: 2rem;

}
.miniline_width {
    width: 120%;
    }




.instruction {
    padding-top: 10vh;
    width: 100%;
    height: 80vh;
    /* margin-top: 10%; */
    /* background-color: rgb(255, 0, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ins1 , .ins2 {
    width: 100%;
    height: 50%;
    /* border: 2px solid blue; */
}
.ins1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
}
.ins1 p {
    color: white;
    max-width: 80%;
    margin: 3rem 10%;
    font-size: 2.5rem;
}
.ins1 h2 {
    font-size: 2rem;
    margin-left: 10%;
    margin-top: 1rem;
    color: white;
    /* text-align: center; */
}
.ins2 {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: orange; */
}
form {
    /* background-color: BLUE; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
input {
    width: 70%;
    height: 12%;    
    font-size: 2rem;
    border-radius: 8rem;
    padding: 1rem;
}
textarea {
    width: 70%;
    height: 40%;    
    font-size: 2rem;
    border-radius: 2rem;
    padding: 1rem;
    overflow: hidden;
}
button {
    width: 30%;
    font-size: 2rem;
    height: 12%;
    border-radius: 25rem;
    cursor: pointer;
}

}
@media only screen and (min-width: 655px) and (max-width: 767px){

    html {
        font-size: 7px;
    }
    .icon_div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 80%;
        /* background-color: blue; */
        margin: 0 auto;
    }
    .icon_socials {
        color: white;
        font-size: 15rem;
        transition: .2s linear;
        cursor: pointer;
    }
    .I {
        display: none;
        }
        .make    {
            width: 100%;
            flex-direction: column;
            /* text-align: center; */
            justify-content: flex-start;
            align-items: flex-start;
        }
        .mark {
            margin-left: 5%;
            font-size: 8rem;
        }
        .kaypee{
            margin-left: 5%;
            font-size: 20rem;
        }
    .circle {
        background-color: black;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 400px;
        width: 400px;
        border-radius: 50%;
        z-index: 123898989898989898989  ;
    }
    .sztrzaleczka {
        opacity: 1;
        font-size: 25rem;
        color: black;
        position: absolute;
        z-index: 1248914237890134789012345078134780134780;
        top: 90%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    main {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: flex-start; */
        /* flex-wrap: wrap; */
        height: 150vh;
        width: 100%;
        /* overflow: hidden; */
    }
    .conColumns2 {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 70%;
        /* border: 2px solid red;   */
        /* background-color: green; */
        padding-top: 10%;
    }
.con2_container1 {
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* background-color: red; */
}
.con2_container2 {
    height: 100%;
    width: 10%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: space;
    justify-content: space-around;
}
.con2_container3 {
    width: 50%;
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    align-items: space;
    justify-content: space-around;
}
.lang {
    /* background-color: blue; */
    border: 2px solid white;
    background-color: black;
    z-index: 12;
    border-radius: 2rem;
    width: 100%;
    height: 13%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.lang p {
    font-size: 2rem;
    max-width: 80%;
}

section {
    height: 100vh;
    background-color:rgb(0, 0, 0);
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    flex-direction: column;
    z-index: 12123;
    /* margin-top: 10vh; */
    /* background-color: blue; */
}

.line_section {
    /* margin-top: 2rem; */
background-color: white;
height: 2rem;
width: 90%;
margin: -.8rem auto;
border-radius: 2rem;
}
.line {

    width: 2rem;

}
.miniline_width {
    width: 120%;
    }


.section_divs_container {
    margin: 0 auto;
    padding-top: 10vh;
    /* background-color: blue; */
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.choice1, .choice2 , .choice3 {
    width: 80%;
    height: 30%;
    /* border: 5px solid rgb(105, 103, 103); */
    /* background-color: #363636; */
    background: linear-gradient(to left top, rgb(57, 57, 57), rgb(22, 22, 23));
    /* color: rgb(200, 199, 199); */
    color: rgb(212, 210, 210);
    border-radius: 2rem 5rem 2rem 2rem ;
    /* cursor: pointer; */
    transition: .2s linear;
}
.choice2,.choice3 {
    /* margin-top: 5vh; */
}
li {
    list-style-type: none;
    /* margin-top: 4rem; */
    font-size: 3rem;
}







.instruction {
    padding-top: 10vh;
    width: 100%;
    height: 80vh;
    /* margin-top: 10%; */
    /* background-color: rgb(255, 0, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ins1 , .ins2 {
    width: 100%;
    height: 50%;
    /* border: 2px solid blue; */
}
.ins1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
}
.ins1 p {
    color: white;
    max-width: 80%;
    margin: 3rem 10%;
    font-size: 2.8rem;
}
.ins1 h2 {
    font-size: 2rem;
    margin-left: 10%;
    margin-top: 1rem;
    color: white;
    /* text-align: center; */
}
.ins2 {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: orange; */
}
form {
    /* background-color: BLUE; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
input {
    width: 70%;
    height: 12%;    
    font-size: 2rem;
    border-radius: 8rem;
    padding: 1rem;
}
textarea {
    width: 70%;
    height: 40%;    
    font-size: 2rem;
    border-radius: 2rem;
    padding: 1rem;
    overflow: hidden;
}
button {
    width: 30%;
    font-size: 2rem;
    height: 12%;
    border-radius: 25rem;
    cursor: pointer;
}

.instruction {
    padding-top: 10vh;
    width: 100%;
    height: 80vh;
    /* margin-top: 10%; */
    /* background-color: rgb(255, 0, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ins1 , .ins2 {
    width: 100%;
    height: 50%;
    /* border: 2px solid blue; */
}
.ins1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
}
.ins1 p {
    color: white;
    max-width: 80%;
    margin: 3rem 10%;
    font-size: 3rem;
}
.ins1 h2 {
    font-size: 3rem;
    margin-left: 10%;
    margin-top: 1rem;
    color: white;
    /* text-align: center; */
}
.ins2 {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: orange; */
}
form {
    /* background-color: BLUE; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
input {
    width: 70%;
    height: 12%;    
    font-size: 3rem;
    border-radius: 8rem;
    padding: 1rem;
}
textarea {
    width: 70%;
    height: 40%;    
    font-size: 3rem;
    border-radius: 2rem;
    padding: 1rem;
    overflow: hidden;
}
button {
    width: 30%;
    font-size: 3rem;
    height: 12%;
    border-radius: 25rem;
    cursor: pointer;
}

}
@media only screen and (min-width: 480px) and (max-width: 654px){
    html {
        font-size: 6px;
    }
    .icon_div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 80%;
        /* background-color: blue; */
        margin: 0 auto;
    }
    .icon_socials {
        color: white;
        font-size: 15rem;
        transition: .2s linear;
        cursor: pointer;
    }
    .I {
        display: none;
        }
        .make    {
            width: 100%;
            flex-direction: column;
            /* text-align: center; */
            justify-content: flex-start;
            align-items: flex-start;
        }
        .mark {
            margin-left: 5%;
            font-size: 7rem;
        }
        .kaypee{
            margin-left: 5%;
            font-size: 20rem;
        }
    .circle {
        background-color: black;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 400px;
        width: 400px;
        border-radius: 50%;
        z-index: 123898989898989898989  ;
    }
    .sztrzaleczka {
        opacity: 1;
        font-size: 25rem;
        color: black;
        position: absolute;
        z-index: 1248914237890134789012345078134780134780;
        top: 90%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    main {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: flex-start; */
        /* flex-wrap: wrap; */
        height: 150vh;
        width: 100%;
        /* overflow: hidden; */
    }
    .conColumns2 {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 70%;
        /* border: 2px solid red;   */
        /* background-color: green; */
        padding-top: 10%;
    }
.line_section {
    /* margin-top: 2rem; */
background-color: white;
height: 2rem;
width: 90%;
margin: -.5rem auto;
border-radius: 2rem;
}
.line {

    width: 2rem;

}
.miniline_width {
    width: 120%;
    }


.con2_container1 {
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* background-color: red; */
}
.con2_container2 {
    height: 100%;
    width: 10%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: space;
    justify-content: space-around;
}
.con2_container3 {
    width: 50%;
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    align-items: space;
    justify-content: space-around;
}
.lang {
    /* background-color: blue; */
    border: 2px solid white;
    background-color: black;
    z-index: 12;
    border-radius: 4rem;
    width: 100%;
    height: 15%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.lang p {
    font-size: 2.5rem;
    max-width: 80%;
}
















.con2_container3 {
    width: 70%;
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    align-items: space;
    justify-content: space-around;
}









.line_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: space;
    justify-content: space-around;
    width: 10%;
    /* background-color: blue; */
    /* border: 2px solid orange; */
    display: none;
}
.cirlce_container {
    display: flex;
    display: none;
    flex-direction: column;
    align-items: space;
    justify-content: space-around;
    /* background-color: red; */
    /* border: 2px solid blue; */
    /* width: 0%; */
    height: 100%;
}
section {
    height: 100vh;
    background-color:rgb(0, 0, 0);
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    flex-direction: column;
    z-index: 12123;
    /* margin-top: 10vh; */
    /* background-color: blue; */
}
.section_divs_container {
    margin: 0 auto;
    padding-top: 10vh;
    /* background-color: blue; */
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.choice1, .choice2 , .choice3 {
    width: 80%;
    height: 30%;
    /* border: 5px solid rgb(105, 103, 103); */
    /* background-color: #363636; */
    background: linear-gradient(to left top, rgb(57, 57, 57), rgb(22, 22, 23));
    /* color: rgb(200, 199, 199); */
    color: rgb(212, 210, 210);
    border-radius: 2rem 5rem 2rem 2rem ;
    /* cursor: pointer; */
    transition: .2s linear;
}
.choice2,.choice3 {
    /* margin-top: 5vh; */
}
li {
    list-style-type: none;
    /* margin-top: 4rem; */
    font-size: 3rem;
}







.instruction {
    padding-top: 10vh;
    width: 100%;
    height: 80vh;
    /* margin-top: 10%; */
    /* background-color: rgb(255, 0, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ins1 , .ins2 {
    width: 100%;
    height: 50%;
    /* border: 2px solid blue; */
}
.ins1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
}
.ins1 p {
    color: white;
    max-width: 80%;
    margin: 3rem 10%;
    font-size: 2.8rem;
}
.ins1 h2 {
    font-size: 2rem;
    margin-left: 10%;
    margin-top: 1rem;
    color: white;
    /* text-align: center; */
}
.ins2 {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: orange; */
}
form {
    /* background-color: BLUE; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
input {
    width: 80%;
    height: 12%;    
    font-size: 1.5rem;
    border-radius: 8rem;
    padding: 1rem;
}
textarea {
    width: 80%;
    height: 40%;    
    font-size: 1.5rem;
    border-radius: 2rem;
    padding: 1rem;
    overflow: hidden;
}
button {
    width: 40%;
    font-size: 1.5rem;
    height: 12%;
    border-radius: 25rem;
    cursor: pointer;
}

.instruction {
    padding-top: 10vh;
    width: 100%;
    height: 80vh;
    /* margin-top: 10%; */
    /* background-color: rgb(255, 0, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ins1 , .ins2 {
    width: 100%;
    height: 50%;
    /* border: 2px solid blue; */
}
.ins1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
}
.ins1 p {
    color: white;
    max-width: 80%;
    margin: 3rem 10%;
    font-size: 2.5rem;
}
.ins1 h2 {
    font-size: 3rem;
    margin-left: 10%;
    margin-top: 1rem;
    color: white;
    /* text-align: center; */
}
.ins2 {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: orange; */
}
form {
    /* background-color: BLUE; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
input {
    width: 80%;
    height: 12%;    
    font-size: 3rem;
    border-radius: 8rem;
    padding: 1rem;
}
textarea {
    width: 80%;
    height: 40%;    
    font-size: 3rem;
    border-radius: 2rem;
    padding: 1rem;
    overflow: hidden;
}
button {
    width: 40%;
    font-size: 3rem;
    height: 12%;
    border-radius: 25rem;
    cursor: pointer;
}

}


@media only screen and (min-width: 400px) and (max-width: 479px){
    html {
        font-size: 5px;
    }
    .icon_div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 80%;
        /* background-color: blue; */
        margin: 0 auto;
    }
    .icon_socials {
        color: white;
        font-size: 15rem;
        transition: .2s linear;
        cursor: pointer;
    }
    .I {
        display: none;
        }
        .make    {
            width: 100%;
            flex-direction: column;
            /* text-align: center; */
            justify-content: flex-start;
            align-items: flex-start;
        }
        .mark {
            margin-left: 5%;
            font-size: 7rem;
        }
        .kaypee{
            margin-left: 5%;
            font-size: 15rem;
        }
    .circle {
        background-color: black;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 400px;
        width: 400px;
        border-radius: 50%;
        z-index: 123898989898989898989  ;
    }
    .sztrzaleczka {
        opacity: 1;
        font-size: 30rem;
        color: black;
        position: absolute;
        z-index: 1248914237890134789012345078134780134780;
        top: 90%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    main {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: flex-start; */
        /* flex-wrap: wrap; */
        height: 150vh;
        width: 100%;
        /* overflow: hidden; */
    }
    .conColumns2 {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 70%;
        /* border: 2px solid red;   */
        /* background-color: green; */
        padding-top: 10%;
    }
.line_section {
    /* margin-top: 2rem; */
background-color: white;
height: 2rem;
width: 100%;
margin: -0rem auto;
border-radius: 2rem;
}
.line {

    width: 2rem;

}
.miniline_width {
    width: 120%;
    }


.con2_container1 {
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* background-color: red; */
}
.con2_container2 {
    height: 100%;
    width: 10%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: space;
    justify-content: space-around;
}
.con2_container3 {
    width: 60%;
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    align-items: space;
    justify-content: space-around;
}
.lang {
    /* background-color: blue; */
    border: 2px solid white;
    background-color: black;
    z-index: 12;
    border-radius: 4rem;
    width: 100%;
    height: 15%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.lang p {
    font-size: 3rem;
    max-width: 80%;
}














.con2_container3 {
    width: 70%;
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    align-items: space;
    justify-content: space-around;
}









.line_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: space;
    justify-content: space-around;
    width: 10%;
    /* background-color: blue; */
    /* border: 2px solid orange; */
    display: none;
}
.cirlce_container {
    display: flex;
    display: none;
    flex-direction: column;
    align-items: space;
    justify-content: space-around;
    /* background-color: red; */
    /* border: 2px solid blue; */
    /* width: 0%; */
    height: 100%;
}

section {
    height: 100vh;
    background-color:rgb(0, 0, 0);
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    flex-direction: column;
    z-index: 12123;
    /* margin-top: 10vh; */
    /* background-color: blue; */
}

.section_divs_container {
    margin: 0 auto;
    padding-top: 10vh;
    /* background-color: blue; */
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.choice1, .choice2 , .choice3 {
    width: 80%;
    height: 30%;
    /* border: 5px solid rgb(105, 103, 103); */
    /* background-color: #363636; */
    background: linear-gradient(to left top, rgb(57, 57, 57), rgb(22, 22, 23));
    /* color: rgb(200, 199, 199); */
    color: rgb(212, 210, 210);
    border-radius: 2rem 5rem 2rem 2rem ;
    /* cursor: pointer; */
    transition: .2s linear;
}
.choice2,.choice3 {
    /* margin-top: 5vh; */
}
li {
    list-style-type: none;
    /* margin-top: 4rem; */
    font-size: 3rem;
}

.instruction {
    padding-top: 10vh;
    width: 100%;
    height: 80vh;
    /* margin-top: 10%; */
    /* background-color: rgb(255, 0, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ins1 , .ins2 {
    width: 100%;
    height: 50%;
    /* border: 2px solid blue; */
}
.ins1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
}
.ins1 p {
    color: white;
    max-width: 80%;
    margin: 3rem 10%;
    font-size: 3rem;
}
.ins1 h2 {
    font-size: 3rem;
    margin-left: 10%;
    margin-top: 1rem;
    color: white;
    /* text-align: center; */
}
.ins2 {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: orange; */
}
form {
    /* background-color: BLUE; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
input {
    width: 80%;
    height: 12%;    
    font-size: 3rem;
    border-radius: 8rem;
    padding: 1rem;
}
textarea {
    width: 80%;
    height: 40%;    
    font-size: 3rem;
    border-radius: 2rem;
    padding: 1rem;
    overflow: hidden;
}
button {
    width: 50%;
    font-size: 3rem;
    height: 12%;
    border-radius: 25rem;
    cursor: pointer;
}
}

@media only screen and (min-width: 320px) and (max-width: 399px){
    html {
        font-size: 4px;
    }
    .icon_div {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 80%;
        /* background-color: blue; */
        margin: 0 auto;
    }
    .icon_socials {
        color: white;
        font-size: 18rem;
        transition: .2s linear;
        cursor: pointer;
    }
    .I {
        display: none;
        }
        .make    {
            width: 100%;
            flex-direction: column;
            /* text-align: center; */
            justify-content: flex-start;
            align-items: flex-start;
        }
        .mark {
            margin-left: 5%;
            font-size: 8rem;
        }
        .kaypee{
            margin-left: 5%;
            font-size: 15rem;
        }
    .circle {
        background-color: black;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 300px;
        width: 300px;
        border-radius: 50%;
        z-index: 123898989898989898989  ;
    }
    .sztrzaleczka {
        opacity: 1;
        font-size: 30rem;
        color: black;
        position: absolute;
        z-index: 1248914237890134789012345078134780134780;
        top: 90%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    main {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: flex-start; */
        /* flex-wrap: wrap; */
        height: 150vh;
        width: 100%;
        /* overflow: hidden; */
    }
    .conColumns2 {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 70%;
        /* border: 2px solid red;   */
        /* background-color: green; */
        padding-top: 10%;
    }
    
.con2_container1 {
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* background-color: red; */
}
.con2_container2 {
    height: 100%;
    width: 10%;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    align-items: space;
    justify-content: space-around;
}
.con2_container3 {
    width: 80%;
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    align-items: space;
    justify-content: space-around;
}
.lang {
    /* background-color: blue; */
    border: 2px solid white;
    background-color: black;
    z-index: 12;
    border-radius: 4rem;
    width: 100%;
    height: 15%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}
.lang p {
    font-size: 3rem;
    max-width: 80%;
}


.line_section {
    /* margin-top: 2rem; */
background-color: white;
height: 2rem;
width: 100%;
margin: -.5rem auto;
border-radius: 2rem;
}
.line {

    width: 2rem;

}
.miniline_width {
    width: 120%;
    }






li {
    list-style-type: none;
    /* margin-top: 4rem; */
    font-size: 3rem;
}






.con2_container3 {
    width: 70%;
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    align-items: space;
    justify-content: space-around;
}









.line_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: space;
    justify-content: space-around;
    width: 10%;
    /* background-color: blue; */
    /* border: 2px solid orange; */
    display: none;
}
.cirlce_container {
    display: flex;
    display: none;
    flex-direction: column;
    align-items: space;
    justify-content: space-around;
    /* background-color: red; */
    /* border: 2px solid blue; */
    /* width: 0%; */
    height: 100%;
}
section {
    height: 100vh;
    background-color:rgb(0, 0, 0);
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    flex-direction: column;
    z-index: 12123;
    /* margin-top: 10vh; */
    /* background-color: blue; */
}
.section_divs_container {
    margin: 0 auto;
    padding-top: 10vh;
    /* background-color: blue; */
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.choice1, .choice2 , .choice3 {
    width: 80%;
    height: 30%;
    /* border: 5px solid rgb(105, 103, 103); */
    /* background-color: #363636; */
    background: linear-gradient(to left top, rgb(57, 57, 57), rgb(22, 22, 23));
    /* color: rgb(200, 199, 199); */
    color: rgb(212, 210, 210);
    border-radius: 2rem 5rem 2rem 2rem ;
    /* cursor: pointer; */
    transition: .2s linear;
}
.choice2,.choice3 {
    /* margin-top: 5vh; */
}







.instruction {
    padding-top: 10vh;
    width: 100%;
    height: 80vh;
    /* margin-top: 10%; */
    /* background-color: rgb(255, 0, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ins1 , .ins2 {
    width: 100%;
    height: 50%;
    /* border: 2px solid blue; */
}
.ins1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
}
.ins1 p {
    color: white;
    max-width: 80%;
    margin: 3rem 10%;
    font-size: 3rem;
}
.ins1 h2 {
    font-size: 3rem;
    margin-left: 10%;
    margin-top: 1rem;
    color: white;
    /* text-align: center; */
}
.ins2 {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: orange; */
}
form {
    /* background-color: BLUE; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
input {
    width: 90%;
    height: 12%;    
    font-size: 3rem;
    border-radius: 8rem;
    padding: 1rem;
}
textarea {
    width: 90%;
    height: 40%;    
    font-size: 3rem;
    border-radius: 2rem;
    padding: 1rem;
    overflow: hidden;
}
button {
    width: 40%;
    font-size: 3rem;
    height: 12%;
    border-radius: 25rem;
    cursor: pointer;
}

}














/* jak jest telefon to wtedy na gorze towrzy sie tylko ejden div z dwoma napisamy i elo */
